{% load static %}
<html>
<head>
	<script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
	<script src="{% static 'polls/htmx.ext.okayjack.js' %}"></script>
</head>
<body hx-ext="okayjack">

	<h1>{{ question.question_text }}</h1>

	{% block error_message_area %}
		{% comment %} 
			This html is wrapped in a block so it can be referenced in the form below (hx-error-block)
		{% endcomment %}
		<p id="error-message">
			{% if error_message %}<strong>{{ error_message }}</strong>{% endif %}
		</p>
	{% endblock %}

	{% comment %} 
		Blocks can be whole template files or just a block within a template file.
		In the form below, hx-success-block is referencing a whole file, and hx-error-block is referencing a block within a file.
	{% endcomment %}
	<form 
		hx-post="{% url 'polls:vote' question.id %}"
		hx-swap="outerHTML"
		hx-success-block="polls/results.html"
		hx-error-block="polls/detail.html#error_message_area"
		hx-error-target="#error-message">
			{% csrf_token %}
			{% for choice in question.choice_set.all %}
				<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
				<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
			{% endfor %}
			<input type="submit" value="Vote">
	</form>
</body>
</html>